@media screen and (max-width: 728px) {
    body {
        padding-right: 0 !important
    }
}

div :has(img) {
    min-height: auto !important;
} 

.container-fluid > * > .tab-pane {
    padding-top: 70px !important;
    max-width: 728px;
    margin: 0 auto;
}

.table-bordered > :not(caption) > * {
    border: solid;
    border-width: 1px 0;
}

.table-bordered > :not(caption) > * > * {
    border: solid;
    border-width: 0 1px;
}

td.tuple {
    background: linear-gradient(
        to top right, 
        transparent 49%, 
        #AAA 49.5%, 
        #AAA 50.5%, 
        transparent 51%
    );
}

td.tuple > div.right {
    margin-left: 2em;
    text-align: right;
}

td.tuple > div.left {
    margin-right: 2em;
    text-align: left;
}
